<!-- bootstrap card -->

<div class="card card-skivent">

<% if skivent.photo %>
  <%= cl_image_tag skivent.photo, class: "card-img-top"  %>
<% end %>

<div class="card-avatars">
   

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <%= link_to image_tag(skivent.user.picture, class: "avatar-medium avatar-floating"), user_path(skivent.user) %>
        <div>
          <div class="avatar-name"><%= skivent.user.name %></div>
          <div class="avatar-rating d-flex">
            <% skivent.user.average_rating.times do %>
              <i class="picto-snow far fa-snowflake"></i>
            <% end %>
          </div> 
        </div>
      </div>
      <div > 
        <p class="resort-name" ><%= link_to skivent.resort.name, resort_path(skivent.resort) %></p>
            <p class="skivent-date" style="text-align: right;"><%= skivent.date %></p>    
      </div>
    </div>

    <!-- Button trigger modal -->

    <% if !current_user.nil? && current_user.saved_skivents.include?(skivent) %>
      <%= link_to favorite_path(current_user.favorites.find_by(skivent_id: skivent.id)), method: :delete do %>
        <i class="fas fa-heart card-heart red h4"></i>
      <% end %>
    <% else %>
      <%= link_to favorites_path(skivent_id: skivent.id), method: :post do %>
        <i class="far fa-heart card-heart red h4"></i>
      <% end %>
    <% end %>

    <strong><h5 class="card-title" data-toggle="modal" data-target="#skivent-<%= skivent.id %>"><%= skivent.title %></h5></strong>

 

      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="card-skivent-host">
      <% if skivent.bookings.count > 0 %>
       <p class="card-booking-subtitle">ALREADY BOOKED BY:</p>
      <% end %>

      <% offset = 0 %>
        <% skivent.bookings.each do |booking| %>
          <%= link_to image_tag(booking.user.picture, class: "avatar"), user_path(booking.user), { style: "left: #{offset}px;position: absolute;" } %>
          <% offset = offset + 20 %>
        <% end %>

      </div>

    </div>
  </div>
</div>
