 <!-- Modal -->
  <div class="modal fade" id="skivent-<%= skivent.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-skiin" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> <%= skivent.title %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- corps -->
        <div class="modal-body">

          <!-- container externe -->
          <div class="content row">

            <div class="card-skievent-details col-sm-12 col-md-7">

              <div class="card-skivent-host col-sm-12 col-md-5">
                <div class="rating">
                  <h4> <%= skivent.user.name %> </h4>
                  <% skivent.user.average_rating.times do %>
                  <i class="picto-snow far fa-snowflake"></i>
                  <% end %>
                  <%= link_to image_tag(skivent.user.picture, class: "avatar"), user_path(skivent.user) %>
                  <p> <%= skivent.user.description %></p>
                </div>
              </div>

                <!-- card-pictos -->
              <div class="card-pictos">

                <!-- event infos -->
                <div class="card-skivent-info">
                  <h4>Event information</h4>
                  <div class="card-car">
                    <% if skivent.user.car == true %>
                      <i class="fas fa-car"></i>
                    <% end %>
                  </div>
                  <div class="car-ski-picto">
                    <i class="fas fa-skiing"></i>
                  </div>
                </div>
                <!-- end of event infos -->

                <!-- resort infos -->
                <div class="card-skivent-info">
                 <div class="card-picto-price">
                  <h4>About <%= skivent.resort.name %> </h4>
                  <% skivent.resort.times.price do %>
                  <i class="fas fa-dollar-sign"></i>
                  <% end %>
                 </div>
                 <div>
                  <i class="fas fa-mountain"></i>
                 </div>
                </div>
                <!-- end of resort infos -->

              <!-- description event -->
                <div class="card-skivent-description">
                  <h3>Event description</h3>
                  <p> <%= skivent.description %></p>
                </div>
              <!-- end of description event -->
              </div>
              <!-- end of card-pictos -->



            </div>

            <!-- description profil -->

            <!-- end of description profil -->

          <!-- end of container externe -->

          </div>


        <div class="modal-footer">
          <% if skivent.user != current_user %>
            <%= link_to "book now", skivent_bookings_path(skivent), method: :post, class: 'btn btn-secondary'  %>
            <button type="button" class="btn btn-primary">Contact the host</button>
          <% else %>
            <p>petit farceur, tu es l'auteur-ice de ce skivent !</p>
          <% end %>
        </div>

     </div>
    </div>
  </div>
