<!-- Modal -->
<div class="modal fade modal-skivents" id="skivent-<%= skivent.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-skiin" role="document">
    <div class="modal-content">

      <div class="modal-header align-items-center">
        <div class="">
          <h3 class="modal-title" id="exampleModalLabel"> <%= skivent.title %></h3>
        </div>
        <div class="skivent_infos flex-grow-1 d-flex justify-content-end align-items-center">
          <div class="skivent-date">
            <%= skivent.date %>
          </div>
          <div class="resort-name ml-2">
            <%= link_to skivent.resort.name, resort_path(skivent.resort) %>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- corps -->
      <div class="modal-body">

        <!-- container externe -->
        <div class="content row p-3">

          <div class="card-skivent-details col-sm-12 col-lg-4 pt-3 pl-5 pr-5 pb-5">
            <div class="card-skivent-host">
              <div class="card-user-name-rating d-flex">
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center pb-4">
                    <div class="card-avatar-popup">
                      <%= link_to image_tag(skivent.user.picture, class: "avatar-popup"), user_path(skivent.user) %>
                    </div>
                    <div class="card-name-picto ml-3">
                      <h4> <%= skivent.user.name %> </h4>

                      <% if skivent.user.average_rating %>
                        <% skivent.user.average_rating.times do %>
                          <i class="picto-snow far fa-snowflake"></i>
                        <% end %>
                      <% else %>
                        <p>no ratings yet</p>
                      <% end %>


                    </div>
                  </div>
                  <div class="card-description-user">
                    <h4>Who I am</h4>
                    <%= skivent.user.description %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of col-lg-6 -->

          <div class="col-sm-12 col-lg-8">
            <!-- card-pictos -->
            <div class="card-pictos">

              <!-- resort infos -->
              <div class="card-skivent-info pb-4">
               <div class="card-picto-price">
                <h4>About <%= skivent.resort.name %> </h4>
                <div class="d-flex h4">
                  <% skivent.resort.price.times do %>
                    <i class="fas fa-dollar-sign h4" data-toggle="tooltip" data-placement="top m-2" title="Level Price"></i>
                  <% end %>
                  <i class="fas fa-mountain ml-3 h4" data-toggle="tooltip" data-placement="top m-2" title="Number of slopes"></i>
                  <%= skivent.resort.number_of_slopes %>
                </div>
               </div>
              </div>
              <!-- end of resort infos -->

              <!-- event infos -->
              <div class="card-skivent-info pb-4">
                <h4>Event information</h4>
                <div class="d-flex h4">
                  <div class="card-car mr-3 h4">
                    <% if skivent.user.car == true %>
                      <i class="fas fa-car h4"></i>
                    <% end %>
                  </div>
                  <div class="car-ski-picto h4">
                    <i class="fas fa-skiing h4" data-toggle="tooltip" data-placement="top" title="<%= skivent.user.level %>"></i>
                  </div>
                </div>
              </div>
              <!-- end of event infos -->


              <!-- description event -->
              <div class="card-skivent-description">
                <h4>Event description</h4>
                <p> <%= skivent.description %></p>
              </div>
            <!-- end of description event -->
            </div>
            <!-- end of card-pictos -->
          </div>
          <!-- end of col-lg-6 -->
        </div>
        <!-- enf of row -->
      </div>

      <div class="modal-footer">
        <% if skivent.user != current_user %>
          <%= link_to "book now", skivent_bookings_path(skivent), method: :post, class: 'btn btn-secondary'  %>

          <!-- Button trigger modal_message -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal">
          Contact me
          </button>

        <% else %>
          <p>petit farceur, tu es l'auteur-ice de ce skivent !</p>
        <% end %>
      </div>
      <!-- end of nodal footer-->
    </div>
  </div>
</div>
