
<div class="container margin-top">


  <%= form_tag skivents_path, method: :get, class: "inline-form d-flex my-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a resort"
    %>
    <%= submit_tag "Search", class: "btn-login-search" %>
  <% end %>

<div class="background">

  <div class="container-fluid m-3">
    <div class="row">

      <div class="search col col-8">
        <%= form_tag skivents_path, method: :get, class: "inline-form d-flex my-3" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a resort"
          %>
          <%= submit_tag "Search", class: "btn-login-search" %>
        <% end %>
      </div>

    </div>

    <div class="row">
      <div class="card-grid col-lg-6 col-sm-12 position-sticky">
        <div class="row " >
          <% @skivents.each do | skivent | %>
            <div class="col-sm-12 col-lg-6 mb-3">

              <%= render 'skivents/card', skivent: skivent %>

            </div>
          <% end %>
        </div>
      </div>

        <div class="map-card col-lg-6 col-sm-12"
          id="map"
          style="height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
    </div>
  </div>
</div>
