<div class="content" style='margin-top: 50px'>
  <div class="background">
    <div class="container-fluid">
      <div class="row">
        <div class="search col col-7 d-flex align-items-center">
          <div class="flex-grow-1">
            <%= form_tag skivents_path, method: :get, class: "inline-form d-flex my-3" do %>
              <div class="search-form-control form-group">
                <input class="form-control string required" type="text" name="query" id="search_query" placeholder="Enter a resort name" value="<%= @query %>" />
                <button name="button" type="submit" class="btn btn-primary btn-flat">
                  <i class="fas fa-search"></i> Search
                </button>
              </div>
            <% end %>
          </div>

          <div class="pl-4">
            <a href="#">
              <i class="fas fa-sliders-h h2"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-sm-12">
          <div class="row" >
            <% i=0 %>
            <% @skivents.each do | skivent | %>
              <div class="col-sm-12 col-lg-6 pr-4 pb-4">
                <%= render 'skivents/card', {skivent: skivent, query: params[:query] || ""} %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div
            class="map-container"
            id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% @skivents.each do |skivent| %>
  <%= render "skivents/skivent_modal", skivent: skivent, average_rating: @average_rating %>
<% end %>
