
    <div class="col-sm-12 col-lg-5 background-content ">


      <div class="content-name position-sticky sticky-top" style="min-height: 100vh;">
        <div class="picto-arrow">
          <%= link_to skivents_path do  %>
            <i class="fas fa-arrow-left"></i>
            <% end %>
        </div>
        <div class="card-user-name-rating">
          <img class="img-circle avatar-big" src="<%= @user.picture %>" width="100px">
          <div>
            <h4 class="card-color"><%= @user.name %></h4>
            <% @user.average_rating.times do %>
              <i class="picto-snow far fa-snowflake"></i>
            <% end %>
          </div>
        </div>

        <div class="content-description-other-user">
          <div class="card-user-description">
            <h3> Who I am </h3>
            <p><%= @user.description %></p>
          </div>
        </div>

       <div class="content-info mt-4">
          <div class="card-user-info">
            <h3> My Skiin informations</h3>

            <div class="level_content_container_user mt-4">
              <div class="level-title">
                <h5> My ski Level </h5>
              </div>
              <div class="all-level-info d-flex">
                <div class="level-content">
                  <p><%= @user.level %></p>
                </div>
                <div class="level-content-picto ml-3">
                  <i class="fas fa-skiing"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="hobbies-and-driving d-flex">

            <div class="content-drive-other-user mr-5 mt-3">
              <h5> My driving Information </h5>
              <div class="input-group mb-3">
                <div class="input-group-prepend mt-1">
                  <div class="input-group-text-car" id="input-for-car">
                  <input type="checkbox" aria-label="Checkbox for following text input" <%= @user.car ? 'checked' : '' %> >
                  </div>
                  <label for=""> <%=  @user.car ? 'I have a car' : 'I do not have a car'  %></label>
                </div>
              </div>
            </div>

            <div class="hobbies-info-other-user ml-4 mt-3">
              <h5> My hobbies </h5>
              <div class="card-hobbies d-flex">
                <% @user.hobbies.split(", ").each do |hobbie| %>
                <div class="card-hobbie d-flex mr-2">
                  <div class="p-2">
                    <%= hobbie %>
                  </div>
                  <div class="card-hobbies-cross p-1">
                    <i class="fas fa-times"></i>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>

        <div class="content_btn mb-4">
          <% unless @user == current_user %>
            <div class="d-flex justify-content-center" style="align-items: center;">
              <!-- <%= link_to "Contact me", skivents_path, class:"btn btn-primary" %> -->
              <!-- Button trigger modal_message -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal">
              Contact me
              </button>
            </div>
          <% end %>
        </div>

      </div>
        <!-- end of .card-user-name -->
         <!-- end of .card-user-description -->
         <!-- end of .card-user-infos -->
   </div>

   <%= render 'shared/modal_message', {user: @user} %>
