 <!-- Modal -->
<div class="modal fade"
  id="add-review-<%= booked_skivent.id %>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-skiin" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <%= booked_skivent.user.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- corps -->
      <div class="modal-body">
        <!-- container externe -->
        <div class="content row">
          <div class="card-ratings-details col-sm-12 col-md-7">
            <!-- event infos -->
            <div class="card-skivent-info">
              <div class="form-inline">

                <h6>Leave a rating for <%= booked_skivent.title %></h6>
                <%= simple_form_for([current_user, @rating]) do |f| %>
                  <%= f.input :rating, collection: (1..5).to_a %>
                  <%= f.input :skivent, as: :hidden, input_html: {value: booked_skivent.id} %>
                  <%= f.input :review %>
                  <%= f.submit "submit review" %>
                <% end %>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
 </div>
