<div class="background-show content pr-5">
  <div class="row flex-nowrap">

    <!-- Left: User Information -->
    <div class="card-profile col-lg-5 position-sticky sticky-top" style="min-height: 100vh;">
      <!-- user avatar -->
      <div class="card-user-name-rating">
        <img class="avatar-show img-circle avatar-bordered" src="<%= @user.picture %>" width="100px">
        <div class="card-name-picto m-2">
          <h4> <%= @user.name %> </h4>
          <div class="picto-name-user">
            <% @average_rating.times do %>
              <i class="picto-snow far fa-snowflake"></i>
            <% end %>

          </div>
        </div>
      </div>

      <!-- user description -->
      <div class="card-user-description">
        <h3> Who I am </h3>
        <p><%= @user.description %></p>
      </div>

      <!-- User info -->
      <div class="card-user-info">
        <h3> My Skiin info</h3>
        <h5> Ski Level </h5>

        <!-- ski level -->
        <div class="level_content_container">
          <div class="inputs">

            <div class="level-content">
              <p>Beginner</p>
              <p>Intermediate</p>
              <p>Expert</p>
            </div>
            <input
              id="ski-level-input"
              type="range"
              min="1"
              max="3"
              step="1"
              value="<%= @level %>"
            >
          </div>
        </div>
        <!-- hobbies -->

        <div class="d-flex justify-content-between align-items-start mt-3">
          <div class="driving-box">

            <h5> Driving Information </h5>
            <div class="input-group mb-3">
              <div class="input-group-prepend mt-2">
                <div class="input-group-text-car" id="input-for-car">
                  <input type="checkbox" aria-label="Checkbox for following text input" <%= @user.car ? 'checked' : '' %> >
                </div>
                <label for="">I have a car</label>
              </div>
            </div>


          </div>

          <div class="driving_hobbies d-flex flex-column align-items-center justify-content-center">

            <div class="card-hobbies-content">
              <h5> My Hobbies </h5>
              <% if @user.hobbies == "" %>
                <div class="card-hobbie d-flex mr-2">
                  <div class="p-2"> No Hobbies </div>
                </div>
              <% else %>
                <div class="card-hobbies d-flex">
                  <% @user.hobbies.split(", ").each do |hobbie| %>
                    <div class="card-hobbie d-flex mr-2">
                      <div class="p-2"> <%= hobbie %> </div>
                      <div class="card-hobbies-cross p-2">
                        <i class="fas fa-times"></i>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="card-simpleform-btn d-flex mt-2">
          <div class="card-simple-form-show">
            <%= simple_form_for(@user) do |f| %>
              <%= f.input :level, as: :hidden %>
              <%= f.input :car, as: :hidden %>
              <%= f.submit "Update profile", class: "btn-yellow" %>
            <% end %>
          </div>
          <div class="card-show-btn-add-event mt-3 ml-1">
            <%= link_to "Add an event", new_skivent_path, class: "btn-yellow" %>
          </div>
        </div>

      </div>
    </div>

    <!-- Right: User Skivents -->
    <div class="col-12 col-lg-7 mt-5 pt-2">
      <!-- Tabs Navigation -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active"
            id="nav-My-skivents-tab"
            data-toggle="tab"
            href="#nav-My-skivents"
            role="tab"
            aria-controls="nav-My-skivents"
            aria-selected="true">
            Incoming skivents
          </a>
          <a class="nav-item nav-link"
            id="nav-booked-skivents-tab"
            data-toggle="tab"
            href="#nav-booked-skivents"
            role="tab"
            aria-controls="nav-booked-skivents"
            aria-selected="false">
            Pending requests
          </a>
          <a class="nav-item nav-link"
            id="nav-reviews-tab"
            data-toggle="tab"
            href="#nav-reviews"
            role="tab"
            aria-controls="nav-reviews"
            aria-selected="false">
            Reviews
          </a>
        </div>
      </nav>

      <!-- Tabs Content -->
      <div class="tab-content" id="nav-tabContent">
        <!-- 1st tab: incoming skivents -->
        <div class="card-skivent-user-show tab-pane fade show active" id="nav-My-skivents" role="tabpanel" aria-labelledby="nav-My-skivents-tab">
          <!-- my incoming skivents that i organized myself -->
          <div class="card-Incoming-skivent">
            <div class="card-incoming-skivent-title mt-3">
              <h5>Incoming Skivents</h5>
            </div>
            <% @skivents.each do | skivent | %>
              <% next if skivent.user.nil? %>
               <%= render 'skivents/dashboard_card', { skivent: skivent, pending: false } %>
            <% end %>
          </div>

          <div class="card-Past-Skivent">
            <div class="card-past-skivent-title ml-2 mt-4">
              <h5>Past Skivents</h5>
            </div>

            <!-- past skivents -->
            <% if @past_skivents.size > 0 %>

              <% @past_skivents.each do |past_skivent| %>
                <div class="card-picture-skivent-user-show border  m-3">
                  <%= cl_image_tag past_skivent.photo, class: "card-img-left" %>
                  <div class="card-skivent-infos p-2">
                    <div>
                      <strong><%= link_to past_skivent.title %></strong>
                      <div class="card-skivent-host">
                        <p><%= past_skivent.description %></p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <img src="<%= past_skivent.user.picture %>" alt="" class="avatar-bordered">
                          <%= link_to past_skivent.user.name %>
                        </div>
                        <% if past_skivent.user != @user %>
                          <!-- Button trigger modal_review -->
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-review-<%= past_skivent.id %> ">
                            Add a review
                          </button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

            <% @booked_skivents.each do |booked_skivent| %> <!-- modals for the booked skivents -->
              <%= render "users/ratings_modal", booked_skivent: booked_skivent %>
            <% end %>
          </div>
        </div>

        <!-- 2nd tab: pending requests -->
        <div class="card-skivent-user-show tab-pane fade" id="nav-booked-skivents" role="tabpanel" aria-labelledby="nav-booked-skivents-tab">
          <!-- pending requests for events that I organized -->
          <div class="card-pending-requests ml-2 mt-4">
            <div class="card-pending-requests-title ml-2">
              <h5>Pending requests</h5>
            </div>
            <% @incoming_bookings.each do |booking| %>
               <%= render 'skivents/dashboard_card', { skivent: booking.skivent, pending: true, booking: booking } %>
            <% end %>
          </div>

          <div class="card-requested-bookings ml-2 mt-4">
            <div class="card-requested-bookings-title ml-2">
              <h5>Requested bookings</h5>
            </div>

            <!-- pending requests that people I sent for events that somebody else organized -->
            <% @requested_bookings.each do |booking| %>
              <%= render 'skivents/dashboard_card', { skivent: booking.skivent, pending: true, booking: booking } %>
            <% end %>
          </div>
        </div>


        <div class="card-skivent-review-show tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">

        <% @ratings.each do |rating| %>

          <div class="card-picture-skivent-review-show border flex-column m-3 mt-4">
            <div class="review_left_by">
              <h5>Review left by : <%= rating.user.name %> </h5>
            </div>
            <div class="card-review-content">
              <div class="card-resort-date d-flex justify-content-between pt-2 px-4">
                <p><%= rating.skivent.resort.name %></p>
                <p><%= rating.skivent.date %></p>
              </div>
              <div class="card-title-and-rating d-flex justify-content-between pt-2 px-4">
                <div class="card-title-rating d-flex">
                  <p><%= rating.skivent.title %></p>
                </div>
                <div class="card-rating d-flex">
                  <p><% rating.rating.times do %></p>
                    <i class="picto-snow-review far fa-snowflake"></i>
                  <% end %>
                </div>
              </div>
              <div class="card-review d-flex justify-content-between pt-2 px-4">
                <p>"<%= rating.review %>"</p>
              </div>
            </div>

          </div>

        <% end %>




        </div>
        <!-- enf of tab for reviews -->

      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "rangeslider" %>
