<div class="background-show margin-top container pl-5 pr-5">
  <div class="row flex-nowrap">

    <!-- Left: User Information -->
    <div class="card-profile col-lg-5 position-sticky sticky-top">
      <!-- user avatar -->
      <div class="card-user-name-rating">
        <img class="avatar-show img-circle avatar-bordered" src="<%= @user.picture %>" width="100px">
        <div class="card-name-picto">
          <h4> <%= @user.name %> </h4>
          <% @average_rating.times do %>
          <i class="picto-snow far fa-snowflake"></i>
          <% end %>
        </div>
      </div>

      <!-- user description -->
      <div class="card-user-description">
        <h3> Who I am </h3>
        <p><%= @user.description %></p>
      </div>

      <!-- User info -->
      <div class="card-user-info">
        <h3> My Skiin info</h3>
        <h5> Ski Level </h5>

        <!-- ski level -->
        <div class="level_content_container">
          <div class="level-content">
            <p>Beginner</p>
            <p>Intermediate</p>
            <p>Expert</p>
          </div>
          <input
            type="range"
            min="1"
            max="3"
            step="1"
          >
        </div>
        <!-- hobbies -->
        <div class="drinving_hobbies d-flex">

          <!-- driving cards -->
          <div class="card-driving">
            <h5> Driving Information </h5>
            <div class="pl-0 card-car col-12">

              <!-- not sure what this HTML is doing? -->
              <div class="input-group mb-3 d-flex">
                <div class="car input-group-prepend d-flex">
                  <div class="input-group-text d-flex">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <div class="card-number_of_place d-flex">
                  <% if @user.car == true %>
                  <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="I have a car">
                  <% end %>
                </div>
              </div>

              <div class="card-no-car d-flex">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="I don't have a car">
                </div>
              </div>
            </div>
          </div>

          <div class="card-hobbies-content">
            <h5> My Hobbies </h5>
            <% if @user.hobbies == "" %>
              <div class="card-hobbie d-flex mr-2">
                <div class="p-2"> No Hobbies </div>
              </div>
            <% else %>
              <div class="card-hobbies d-flex">
                <% @user.hobbies.split(", ").each do |hobbie| %>
                  <div class="card-hobbie d-flex mr-2">
                    <div class="p-2"> <%= hobbie %> </div>
                    <div class="card-hobbies-cross p-2">
                      <i class="fas fa-times"></i>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <%= link_to "Add an event", new_skivent_path, class:"btn btn-secondary btn-add-event" %>
      </div>
    </div>

    <!-- Right: User Skivents -->
    <div class="col-12 col-lg-7 mt-4">
      <!-- Tabs Navigation -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active"
            id="nav-My-skivents-tab"
            data-toggle="tab"
            href="#nav-My-skivents"
            role="tab"
            aria-controls="nav-My-skivents"
            aria-selected="true">
            Incoming skivents
          </a>
          <a class="nav-item nav-link"
            id="nav-booked-skivents-tab"
            data-toggle="tab"
            href="#nav-booked-skivents"
            role="tab"
            aria-controls="nav-booked-skivents"
            aria-selected="false">
            Pending requests
          </a>
        </div>
      </nav>

      <!-- Tabs Content -->
      <div class="tab-content" id="nav-tabContent">
        <!-- 1st tab: incoming skivents -->
        <div class="card-skivent-user-show tab-pane fade show active" id="nav-My-skivents" role="tabpanel" aria-labelledby="nav-My-skivents-tab">
          <!-- my incoming skivents that i organized myself -->
          <% @skivents.each do | skivent | %>
            <% next if skivent.user.nil? %>
              <div class="card-picture-skivent-user-show border m-3">
                <%= cl_image_tag skivent.photo, class: "card-img-left" %>
                <div class="card-skivent-infos p-2">
                  <strong> <%= link_to skivent.title %> </strong>
                  <h2 class="card-skivent-host"></h2>
                  <p><%= skivent.description %></p>
                  <img src="<%= skivent.user.picture %>" alt="" class="avatar-bordered">
                  <%= link_to skivent.user.name %>
                </div>
              </div>
          <% end %>

          <h5>past skivents</h5>

          <!-- past skivents -->
          <% @booked_skivents.each do |booked_skivent| %>
            <div class="card-picture-skivent-user-show border  m-3">
              <%= cl_image_tag booked_skivent.photo, class: "card-img-left" %>
              <div class="card-skivent-infos p-2">
                <div>
                  <strong><%= link_to booked_skivent.title %></strong>
                  <div class="card-skivent-host">
                    <p><%= booked_skivent.description %></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <img src="<%= booked_skivent.user.picture %>" alt="" class="avatar-bordered">
                      <%= link_to booked_skivent.user.name %>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-review-<%= booked_skivent.id %> ">
                      add a review
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% @booked_skivents.each do |booked_skivent| %> <!-- modals for the booked skivents -->
            <%= render "users/ratings_modal", booked_skivent: booked_skivent %>
          <% end %>
        </div>

        <!-- 2nd tab: pending requests -->
        <div class="card-skivent-user-show tab-pane fade" id="nav-booked-skivents" role="tabpanel" aria-labelledby="nav-booked-skivents-tab">
          <!-- pending requests for events that I organized -->
          <% @incoming_bookings.each do |booking| %>
          
              <div class="card-picture-skivent-user-show border m-3">
              <%= cl_image_tag booking.skivent.photo, class: "card-img-left" %>
              <div class="card-skivent-infos p-2">
                <strong> <%= booking.skivent.title %></strong>
                <h2 class="card-skivent-host"></h2>
                <p><%= booking.skivent.description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <img src="<%= booking.user.picture %>" alt="" class="avatar-bordered">
                    <%= link_to booking.user.name, user_path(booking.user) %>
                  </div>
                  <div class="mr-3">
                    <!-- <%= booking.status %> -->
                    <%= link_to booking_path(booking, { booking: { status:"accepted"} }), method: :patch do %>
                      <i class="fas fa-check pr-1"></i>
                    <% end %>
                    <%= link_to booking_path(booking, { booking: { status:"declined"} }), method: :patch do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <!-- pending requests that people I sent for events that somebody else organized -->
          <% @requested_bookings.each do |booking| %>
            <div class="card-picture-skivent-user-show border  m-3">
            <%= cl_image_tag booking.skivent.photo, class: "card-img-left" %>
              <div class="card-skivent-infos p-2">
                <strong> <%= booking.skivent.title %></strong>
                <h2 class="card-skivent-host"></h2>
                <p><%= booking.skivent.description %></p>
                <img src="<%= booking.skivent.user.picture %>" alt="" class="avatar-bordered">
                <%= link_to booking.skivent.user.name %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
