<div class="resort-carousel mb-4">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="header-container">
      <h3><%= @resort.name %></h3>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @resort.pictures&.each_with_index do |picture, index| %>
        <div class="carousel-item <%= index ==  0 ? "active" : "" %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path picture %>');"></div>
      <% end %>
      <!-- <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.snow-forecast.com/system/images/33934/large/Tremblant.jpg?1568783588');"></div> -->
      <!-- <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.tremblant.ca/-/media/tremblant/things-to-do/activities/winter-pedestrian-ticket-m.ashx?h=432&w=768&hash=EC3ECD248439B1B38B95ECD074B42DAE');"></div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container">
  <!-- Affichage du descriptif de la station  -->
  <div class="card card-resort w-100 mb-4">
    <div class="card-body">
      <div class="row d-flex mb-2">
        <div class="card-resort-description col">
          <h4 class="card-subtitle d-flex mb-2 text-muted">About the resort</h4>
          <p class="card-text"><%= @resort.description %></p>
          <div class="row m-1">
            <%= link_to "See the website", @resort.url, class: "btn btn-primary mr-1" %>

            <!-- <div class="d-flex justify-content-center mt-3"> -->
              <%= link_to "Back to all the Skivents", @previous_url || skivents_path, class: "btn btn-outline-primary" %>
            <!-- </div> -->
          </div>
        </div>
        <div class="card-column col">
          <h4 class="card-subtitle d-flex mb-2 text-muted">Informations about the resort</h4>
          <div class="card-skivent-info pt-3 pb-4">
            <div class="card-picto-price">
              <div class="d-flex h4">
                <% @resort.price.times do %>
                  <i class="fas fa-dollar-sign h4" data-toggle="tooltip" data-placement="top m-2" title="Level Price"></i>
                <% end %>
                <i class="fas fa-mountain ml-4 h4" data-toggle="tooltip" data-placement="top m-2" title="Number of slopes"></i>
                <%= @resort.number_of_slopes %>
                <i class="fas fa-hot-tub ml-4 h4" data-toggle="tooltip" data-placement="top m-2" title="Spa"></i>
                <i class="fas fa-utensils ml-4 h4" data-toggle="tooltip" data-placement="top m-2" title="Spa"></i>
                <p class="card-text ml-4 h5"><%= @resort.resort_type %></p>
              </div>
           </div>
          </div>
          <div class="card-column">
            <h4 class="card-subtitle mb-2 text-muted">Weather for the 5 next days</h4>
            <%= image_tag @resort.meteo %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Affichage des skivents de la station  -->
  <div class="card-title-all-skivent text-muted">
    <h4>Skivents in <%= @resort.name %></h4>
  </div>
  <div class="row">
    <% @skivents.each do |skivent| %>
      <div class="col-4 mb-4">
        <%= render "skivents/card", skivent: skivent %>
      </div>
    <% end %>
  </div>
</div>

<% @skivents.each do |skivent| %>
  <%= render "skivents/skivent_modal", skivent: skivent, average_rating: @average_rating %>
<% end %>
