<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ski in</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <meta name="description" content="Create your perfect Ski day !"/>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <%= audio_tag "ski.mp3", id: "sound", autoplay: true %>
    <script>
      function setVolume() {
        mySound = document.getElementById("sound");
        mySound.volume=0.03;
      }
      window.onload=setVolume;
    </script>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render "shared/footer" %>
  </body>
</html>
